<!DOCTYPE html>
<html lang="en">
@{
    Layout= null;
}

<h1 style="font-family:verdana;font-size:100px"><b>Đăng nhập thành công!</b></h1>
<h1 style="font-family:verdana;font-size:70px"><b>Chào @ViewBag.hotenHV !</b></h1>
@*<a href="https://localhost:7226/home" style="width: 200px;height:200px" class="btn btn-primary px-4 mx-auto mb-4">Trở về trang chủ</a>
*@  <meta http-equiv='refresh' content='1; URL=https://localhost:7226/home'>


